$maxCanvasWidth: 700px;

$white_main: white;
$white-secondary: #686c6c;
$black-main: rgba(32, 32, 32, 0.93);
$black-secondary: #101010;

.alert {
    display: none;
}

#players {
  display: block;

  .player {
    display: inline-block;
    box-shadow: #444444;
  }

  .noPlayer {
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .30;
  }

  .playersTurn {
    font-size: 40px;
  }

  #white-player {
    background-color: $white_main;
    border: 2px solid $white-secondary;
  }

  #black-player {
    color: white;
    background-color: $black-main;
    border: 2px solid $black-secondary;
  }
}

#chess-container {
  width: 100%;
  height: $maxCanvasWidth;
  display: block;
  // border: 5px ridge red;
  padding: 0;

  .my-canvas {
    width: 100%;
    max-width: $maxCanvasWidth;
    padding: 0;
    border:2px solid #d3d3d3;
    position:absolute;
    z-index: 100;
  }

  #select-canvas {
    z-index: 150;
  }
}

