$blue-green : #1c70b7;
$background-beige : #F6F5F5;
$pink : #6064f4;
$lighter-blue : #3BB4C1;
$darker-blue : #04646f;

$basic-font-family : 'Open Sans', sans-serif;

$mobile-max-size: 600px;
$tablet-max-size: 1200px;
