{% extends "rooms/room_detail_view_form.html" %}
{% load static %}

<!--Load bootstrap-->
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block head %}
    <script src="{% static 'games/js/chessboard.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'games/css/chessboard.css' %}"/>
{% endblock %}

{% block game_block %}
        <div class="panel-heading">{{ object.game }}</div>
        <div class="panel-body">
            <dev id="chess-container">
                <canvas id="chess-canvas" width="560" height="560" >
                Your browser does not support the HTML5 canvas tag.
                </canvas>
            </dev>
        </div>
{% endblock %}