{% extends "rooms/room_detail_view_form.html" %}
{% load static %}

{% block head %}
    <script src="{% static 'games/js/chessboard.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'games/css/chessboard.css' %}"/>
{% endblock %}

{% block game_block %}
    <div class="panel-heading">{{ object.game }}</div>
    <div class="panel-body">
        <dev id="chess-container">
            <canvas id="chess-canvas" width="560" height="560" >
            Your browser does not support the HTML5 canvas tag.
            </canvas>
        </dev>
    </div>

    <script>
        // WEB SOCKETS
        var pk_game = {{ game.pk }};
        var gameSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/games/' + pk_game);

        gameSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            var type = data['type'];
            switch(type) {
                case 'hello_message_server':
                    console.log("Received message: " + data['message']);
                    draw({{ game.piecesPositions|safe }});
                    break;
                default:
                    console.log("Strange message from server!");
            }
        };

        gameSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chess-canvas').onclick = function(e) {
            gameSocket.send(JSON.stringify({
                'type': "hello_message",
                'message': "Hello from client!"
            }));
            console.log("Message sent.");
        };

        // IMAGES
        DJANGO_IMAGE_URL = '{% static 'games/img/'%}';

    </script>
{% endblock %}