{% extends "rooms/room_detail_view_form.html" %}
{% load static %}

{% block head %}
    <script src="{% static 'games/js/chessboard.js' %}" id="chess-script"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'games/css/chessboard.css' %}"/>
{% endblock %}

{% block game_block %}
    <div class="panel-heading">{{ object.game }}</div>
    <div class="panel-body">
        <div id="socket-alert" class="alert alert-danger alert-dismissable" style="display:none">
            <strong>Warning!</strong> Game socket closed unexpectedly. Refresh page to reconnect!
        </div>
        <div id="check-info" class="alert alert-info alert-dismissable" style="display:none">
            <strong>Check! </strong><span>Color</span> protect your King!
        </div>
        <div id="checkmate-info" class="alert alert-info alert-dismissable" style="display:none">
            <strong>Checkmate! </strong><span>Color</span> lost!
        </div>
{#        TODO move it next to chessboard #}
        <div id="players">
            <button id="white-player" type="button"
                    class="btn btn-lg well btn-default player noPlayer playersTurn">white player</button>
            <button id="black-player" type="button"
                    class="btn btn-lg well btn-dark player noPlayer playersTurn">black player</button>
        </div>
        <dev id="chess-container">
            <canvas id="chess-canvas" class="my-canvas" width="560" height="560" >
            Your browser does not support the HTML5 canvas tag.
            </canvas>
            <canvas id="select-canvas" class="my-canvas" width="560" height="560" >
            Your browser does not support the HTML5 canvas tag.
            </canvas>
        </dev>
    </div>

    <script>
        DJANGO_IMAGE_URL = '{% static 'games/img/'%}';
        PK_GAME = {{ game.pk }};
    </script>
{% endblock %}