{% extends "base.html" %}
{% load static %}

{% block title %}Room{% endblock %}

{% block nav %}{% include "navbar.html"  with active='rooms_active'%}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <h1>
        <a href="{% url 'room_detail_url' pk_room=object.pk %}">{{ object }}</a>
        <span class="text-muted">(<strong>Password: </strong>{{ object.password }})</span>
    </h1>
    <div class="panel panel-default">
        {% block game_block %}
        <div class="panel-heading">
            <a href="{% url 'game_url' pk_room=object.pk pk_game=object.game.pk %}">{{ object.game }}</a>
        </div>
        <div class="panel-body">
        </div>
        {% endblock %}
    </div>

{% endblock %}